.DS_Store
**/.DS_Store

.idea/
.vscode/
.claude/
!.claude/index.json
.serena

vendor/

*.log

.env*         
!.env.example  

tmp/
temp/
logs/

dist/

push.yaml
!push.yaml.example

watchducker
watchducker.exe